

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.settings {
    svg {
        width: 500px;
        height: 300px;
        color: red;
    }
}


ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

button {
    border: none;
}